PORT=5000
CONNECTION_STRING=postgresql://myuser:mypassword@localhost:5432/postgres
SCHEDULE=*/5 * * * *
HOST=localhost:5000
SCHEMA=http
SWAGGER_USERNAME=admin
SWAGGER_PASSWORD=admin
API_KEY=your_api_key_here