version: '3.8'

services:
  migrator:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: migrator
    restart: no
    exclude_from_hc: true
    environment:
      - NODE_ENV=production
      - CONNECTION_STRING=${CONNECTION_STRING:?}
  rss-builder-api:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: api
    expose:
      - '5000'
    environment:
      - NODE_ENV=production
      - PORT=5000
      - CONNECTION_STRING=${CONNECTION_STRING:?}
      - SCHEMA=${SCHEMA:?https}
      - HOST=${HOST:?}
      - API_KEY=${API_KEY:?}
      - SWAGGER_USERNAME=admin
      - SWAGGER_PASSWORD=${SWAGGER_PASSWORD:?}
    healthcheck:
      test:
        [
          'CMD',
          'wget',
          '--no-verbose',
          '--tries=1',
          '--spider',
          'http://localhost:5000/live',
        ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    restart: unless-stopped
    depends_on:
      migrator:
        condition: service_completed_successfully
  rss-builder-scheduler:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: scheduler
    exclude_from_hc: true
    environment:
      - NODE_ENV=production
      - SCHEDULE=${SCHEDULE:?0 * * * *}
      - CONNECTION_STRING=${CONNECTION_STRING:?}
    restart: unless-stopped
    depends_on:
      migrator:
        condition: service_completed_successfully
